/* Hard Base Reset */
*, *::before, *::after{
     box-sizing: border-box;
}


img, picture, video, canvas, svg{
     display: block;
     max-width: 100%;
}

body{
     margin: 0;
     min-height: 100vh;
     display: grid;
     place-content: center;
}

.game-container {
     background-color: lightblue;
     border: 3px solid rgb(55, 131, 156);
     border-radius: 20px;
     display: flex; 
     flex-direction: column;
     justify-content: center; 
     align-items: center;
     gap: 1.5rem; padding: 2rem;
     width: 400px;
}

#board {
     display: flex; 
     flex-direction: column-reverse; 
     gap: 0.5rem; 
     width: 100%;
}

.row {
     display: flex; 
     justify-content: space-between; 
     align-items: center;
     padding: 0.4rem 0.8rem; 
     border-radius: 8px; 
     border: 1px solid transparent;
}

.row-slots { 
     display: flex; 
     gap: 0.8rem; 
}

.guess-slot {
     width: 45px; 
     height: 45px; 
     background-color: rgb(139, 139, 156); 
     border: 1px solid rgb(139, 139, 156);
     box-shadow: inset 0 4px 6px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1);
}


/* color-picker section */
.color-picker { 
     display: flex; 
     gap: 1rem; 
}

.color-peg{
     width: 45px;
     height: 45px;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0.2);
}

.red{
     background-color: red;
}

.green{
     /* border-radius: 50%; */
     background-color: green;
}

.blue{
     background-color: blue;
}

.yellow{
     background-color: yellow;
}


/* result */
#result-text { 
     color: yellow; 
     font-weight: bold; 
     text-align: center;
}


